<body><div style="background-color: #243b55">
  <div id="logo">
    <div id="logo_text" style="margin-left: 5%;">
      <!-- class="logo_colour", allows you to change the colour of the text -->
      <h1 style="font-family:Rockwell Condensed,serif;font-size: 3em"><a href="/movie/list">Build A Vision</a></h1>
      <h2 class="typewriter" style="font-size: small">“You is kind. You is smart. You is important.”</h2>
    </div>
  </div>
  <div id="menubar">
    <ul id="menu" >
      <div style="margin-left: 40%">
        <li class="selected" ><a  href="/movie/list">Latest Series</a></li>
        <li><a style="color: #00C5EE" href="/movie-my-list">My List</a></li>
      </div>
    </ul>
  </div>
  <br>
</div>
<div style="background: linear-gradient(#141e30, #243b55)">
  <div style="margin: auto; width: 95%;">
    <div class="header"> My List</div>
    <div class="section">
      <mat-grid-list cols="4" style="height:100%">

        <ng-container  style="text-align: center" *ngFor="let items of MyList">
          <mat-grid-tile >
            <div class="box" style="height: 700px">
              <span> <a class="transparent" style="z-index: -1" (click)="navigateToMovieDetails(items.id)"> <img src="{{items.image.medium}}" alt="Image"> </a> </span>
              <span>
                  <button mat-fab  color="#243b55" class="button" type="button" (click)="removeMovie(items.id)">
                    <mat-icon>clear</mat-icon>
                </button>
                </span>
              <span></span>
              <div class="box1" >
                <span><b>"{{items.name}}"</b> </span><br>
              </div><br>

            </div>
          </mat-grid-tile>
        </ng-container>

      </mat-grid-list>
    </div>
  </div><br>
</div>
</body>
